:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-bg-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --white-text-color: #fff;
  --futter-bg-color: #2f303a;
  --logo-color: #000000;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.logo {
  color: var(--accent-color);
}

.logo-header {
  color: var(--primary-text-color);
}

.logo-footer {
  color: var(--white-text-color);
}

.logo:hover {
  color: var(--accent-color);
}

ul {
  list-style: none;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}
