:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-bg-color: #ffffff;
  --button-bg-color: #f5f4fa;
  --white-text-color: #fff;
  --footer-bg-color: #2f303a;
  --logo-color: #000000;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.logo {
  color: var(--accent-color);
}

.logo-tittle {
  color: var(--logo-color);
}

.logo-footer {
  color: var(--white-text-color);
}

.logo:hover {
  color: var(--accent-color);
}
/* Герой */
.hero {
  background-color: var(--futter-bg-color);
}
.hero-title {
  color: var(--white-text-color);
  background-color: var(--footer-bg-color);
}
ul {
  list-style: none;
}

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts-nav .mail:hover,
.mail:focus {
  color: var(--accent-color);
}

.contacts-nav .phone:hover,
.phone:focus {
  color: var(--accent-color);
}
.contacts-nav {
  color: var(--primary-text-color);
}

/* Feauters */
.feature-list .title {
  color: var(--title-text-color);
}
.feature-list .text {
  color: var(--primary-text-color);
}
/* Чем мы занимаемся */
.section {
  color: var(--title-text-color);
}
/* команда */
.team-title {
  color: var(--title-text-color);
}
.name {
  color: var(--title-text-color);
}
.job {
  color: var(--primary-text-color);
}
.works .button {
  color: var(--primary-bg-color);
  background-color: var(--button-bg-color);
}
.examples {
  display: none;
}

/* Button */

.button {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

.button.secondary {
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
}

/* footer */

.footer {
  background-color: var(--footer-bg-color);
}

.address {
  color: var(--white-text-color);
}

.footer-contacts {
  color: var(--primary-text-color);
}
