:root {
  --title-text-color: #757575;
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --button-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.logo {
  color: var(--accent-color);
}

.logo-tittle {
  color: var(--primary-text-color);
}

ul {
  list-style: none;
}

.site-nav .link {
  color: var(--primary-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.contacts:hover {
  color: var(--accent-color);
}

/* Feauters */
.feature-list .title {
  color: var(--primary-text-color);
}
.feature-list .text {
  color: var(--title-text-color);
}
.works .button {
  color: var(--primary-bg-color);
  background-color: var(--button-bg-color);
}
/* цвет основного текста(Заголовки) #212121 */

/* вторичный цвет текста(параграфы)  #757575 */

/* цвет телефона и почты в футере rgba(255, 255, 255, 0.6); */

/* цвет адреса в футере color: #FFFFFF; */

/* accent #2196F3 */
/* вторичный цвет фона background: #F5F4FA; */ ;
